<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>State List</title>
</head>
<body>
    <h1>State List</h1>
    <ul>
        {% for state in object_list %}
            <li>{{ state.name }} - {{ state.population }} - {{ state.language }} - {{ state.capital }}
                <a href="{% url 'state_detail' state.pk %}">Detail</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'state_add' %}">Add State</a>
</body>
</html>
